/** Main Styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #7a8889;
    font-family: 'Whitney', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;

    position: relative;
    height: 100%;
    padding-bottom: 120px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.small-caps {
    font-variant: small-caps;
}

.container {
    width: 100%;
    max-width: 960px !important;
    padding: 10px 30px;
    margin: 0 auto;
}

.highlight-card {
    min-height: 200px;
    margin-top: -200px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav .container, footer .container {
    padding: 0 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: #00aebd;
}

h3 {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 15px;
}

h3.small-caps {
    font-size: 1.5em;
    text-transform: lowercase;
    font-weight: 500;
}

a, a:hover, a:active, a:focus {
    color: #00aebd;
}

.text-muted {
    opacity: 0.6;
    font-size: 0.9em;
}

.footnote {
    margin-top: 30px;
}

/** Nav */

.navbar {
    background-color: white;
    border-radius: 0;
    border: 0;

    box-shadow: rgba(63, 69, 180, 0.17255) 0px 0px 12px 0px;
    margin-bottom: 0;
}

.nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
}

.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
    border-bottom: 4px solid #FDB64C;
}

.status {
    display: none;
}

.status i {
    font-size: 7px;
    margin-bottom: 2px;
    margin-right: 5px;

    vertical-align: middle;
    color: #9197A3;
}

.status.online i {
    color: #0F9D28;
}

.pulse-ring {
    display: none;

    background-color: #0F9D28;
    -webkit-border-radius: 100%;
    height: 55px;
    width: 55px;

    position: absolute;
    left: -5px;
    top: -3px;

    -webkit-animation: pulsate 1.8s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}

.pulse-ring.two {
    -webkit-animation-delay: 0.5s;
}

.pulse-ring.three {
    -webkit-animation-delay: 0.6s;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 0.05;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/* Center the navigation */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .status, .online .pulse-ring {
        display: inline-block;
    }
}

/** Jumbotron */

.jumbotron {
    background-color: #00aebd;
    background: url('../images/bg.png');
    background-size: auto 50px;
    color: white;
    padding-bottom: 200px;
    margin-bottom: 0;
    overflow: hidden;

    font-family: 'Hoefler Text', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}

.jumbotron .container {
    background-repeat: no-repeat;
    background-position: 90% 100%;
    background-size: auto 260px;
}

.jumbotron.home .container {
    background-image: url('../images/jumbotron-images/alice.png');
}

.jumbotron h1 {
    font-size: 4em;
    text-shadow: 2px 2px #f061a0;

    margin-bottom: 15px;
}

.jumbotron.home h1 {
    text-transform: lowercase;

    font-size: 8em;
    line-height: 0.8em;

    margin: 0;
}

.jumbotron h2 {
    margin-top: 0;
    color: white;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .jumbotron .container {
        padding: 10px 0px;
    }

    .jumbotron h1 {
        font-size: 3.2em;
    }
}

/** About */

.about h3 {
    border-bottom: none;
    margin-bottom: 10px;
}

/** Announcements */

.announcements-list li {
    margin-bottom: 20px;
}

.announcements-list h4 {
    margin-bottom: 0;
}

/** Assignments */

.current-link {
    font-size: 2em;
    opacity: 0.9;
}

.current-link .fa {
    margin-left: 7px;
    transition: margin 0.1s ease-in;
}

.current-link:hover {
    opacity: 1.0;
}

.current-link a:hover, a:focus, a:active {
    text-decoration: none;
}

.current-link a:hover .fa {
    margin-left: 12px;
    transition: margin 0.1s ease-out;
}

.deadline {
    font-weight: bold;
}

.table {
    margin-top: 30px;
}

.table td ul {
    padding-left: 15px;
}

/** Responsive Tables 
* http://css-tricks.com/responsive-data-tables/
*/

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { 
        border: 1px solid #ccc;
        border-top: 0;
        margin-bottom: 20px;
    }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        min-height: 2.2em;
        position: relative;
        padding-left: 50% !important; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;

        font-weight: bold;
    }
    
    /*
    Label the data
    */
    .assignments td:nth-of-type(1):before { content: "#"; }
    .assignments td:nth-of-type(2):before { content: "Homework"; }
    .assignments td:nth-of-type(3):before { content: "Problem Session"; }
    .assignments td:nth-of-type(4):before { content: "Out"; }
    .assignments td:nth-of-type(5):before { content: "Due"; }
    .assignments td:nth-of-type(6):before { content: "Solutions"; }

    .lectures td:nth-of-type(1):before { content: "Date"; }
    .lectures td:nth-of-type(2):before { content: "Topic"; }
    .lectures td:nth-of-type(3):before { content: "Book Sections"; }
}

/** TA Hours */

#calendar-iframe {
    width: 1px;
    min-width: 100%;
    margin-top: 20px;
}

.lost-rabbit {
    display: block;
    height: 200px;
    margin: 50px auto;
}

.staff-update-soon {
    text-align: center;
}

/** Staff */

.staff .container {
    overflow: auto;
}

.staff h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 25px;
}

.tas h2 {
    margin-bottom: 10px;
}

.tas {
    clear: both;
}

.staff p {
    margin-bottom: 0;
}

.staff ul {
    list-style: none;
    padding-left: 0;
}

.info {
    margin: 15px 0px;
}

.masonry {
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.head-tas .container {
    padding: 0;
}

.head-tas .profile-picture {
    margin-right: 15px;
}

.head-tas li {
    margin-bottom: 15px;
}

.masonry li {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #EBEBEB;
}

.profile-picture {
    height: 150px;
    max-width: 200px;
    margin-bottom: 15px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url('../images/staff-pictures/default.png');
}

/** Staff Pictures */

.head-tas .profile-picture {
    background-image: url(' ../images/staff-pictures/htas-characters.png');
}

.head-tas .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/htas.png');
}

#aeleti .profile-picture {
    background-image: url(' ../images/staff-pictures/aeleti-character.png');
}

#aeleti .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/aeleti.png');
}

#ah44 .profile-picture {
    background-image: url(' ../images/staff-pictures/ah44-character.png');
}

#ah44 .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/ah44.png');
}

#afwang .profile-picture {
    background-image: url(' ../images/staff-pictures/afwang-character.png');
}

#afwang .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/afwang.png');
}

#avanhatt .profile-picture {
    background-image: url(' ../images/staff-pictures/avanhatt-character.png');
}

#avanhatt .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/avanhatt.png');
}

#dnurieli .profile-picture {
    background-image: url(' ../images/staff-pictures/dnurieli-character.png');
}

#dnurieli .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/dnurieli.png');
}

#fheredea .profile-picture {
    background-image: url(' ../images/staff-pictures/fheredea-character.png');
}

#fheredea .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/fheredea.png');
}

#hmalvai .profile-picture {
    background-image: url(' ../images/staff-pictures/hmalvai-character.png');
}

#hmalvai .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/hmalvai.png');
}

#jcpalmer .profile-picture {
    background-image: url(' ../images/staff-pictures/jcpalmer-character.png');
}

#jcpalmer .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/jcpalmer.png');
}

#jissroff .profile-picture {
    background-image: url(' ../images/staff-pictures/jissroff-character.png');
}

#jissroff .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/jissroff.png');
}

#jvananh .profile-picture {
    background-image: url(' ../images/staff-pictures/jvananh-character.png');
}

#jvananh .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/jvananh.png');
}

#zy15 .profile-picture {
    background-image: url(' ../images/staff-pictures/zy15-character.png');
}

#zy15 .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/zy15.png');
}

#kb25 .profile-picture {
    background-image: url(' ../images/staff-pictures/kb25-character.png');
}

#kb25 .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/kb25.png');
}

#kl47 .profile-picture {
    background-image: url(' ../images/staff-pictures/kl47-character.png');
}

#kl47 .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/kl47.png');
}

#lconwill .profile-picture {
    background-image: url(' ../images/staff-pictures/lconwill-character.png');
}

#lconwill .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/lconwill.png');
}

#mzelling .profile-picture {
    background-image: url(' ../images/staff-pictures/mzelling-character.png');
}

#mzelling .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/mzelling.png');
}

#nvirdy .profile-picture {
    background-image: url(' ../images/staff-pictures/nvirdy-character.png');
}

#nvirdy .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/nvirdy.png');
}

#pchanthr .profile-picture {
    background-image: url(' ../images/staff-pictures/pchanthr-character.png');
}

#pchanthr .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/pchanthr.png');
}

#rz14 .profile-picture {
    background-image: url(' ../images/staff-pictures/rz14-character.png');
}

#rz14 .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/rz14.png');
}

#sj4 .profile-picture {
    background-image: url(' ../images/staff-pictures/sj4-character.png');
}

#sj4 .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/sj4.png');
}

#svatasoi .profile-picture {
    background-image: url(' ../images/staff-pictures/svatasoi-character.png');
}

#svatasoi .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/svatasoi.png');
}

#tbasutri .profile-picture {
    background-image: url(' ../images/staff-pictures/tbasutri-character.png');
}

#tbasutri .profile-picture:hover {
    background-image: url(' ../images/staff-pictures/tbasutri.png');
}

/** Footer */

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
    .footer p:first-child {
        margin-bottom: 0;
    }

    .footer .text-right {
        text-align: left;
        margin-top: 0;
    }
}
